body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.cardWidth {
  width: 18rem;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
